---
// import Countdown from "../components/Countdown.svelte";
import TimelineItem from "../components/TimelineItem.svelte";
import Layout from "../layouts/Layout.astro";
import Nav from '../components/Navbar.svelte';



--- 

<Layout>
  <Nav client:load></Nav>
  <main class=" py-10 min-h-full min-w-full flex flex-col items-center justify-center" >
	<div class="bg-center bg-no-repeat min-w-full min-h-screen  my-auto flex" style="background-image:url('/cih/img/bg2.png')">
		<div class=" md:w-2/3 w-full my-auto">
			<div class=" container flex flex-col md:pl-6 p-6 my-auto  md:py-36 py-10 mx-auto">
				<h1 class=" md:text-5xl text-2xl md:text-start text-center uppercase text-black font-extrabold" style="font-family: Poppins, Arial, Helvetica, sans-serif;">Construction Innovation Hub</h1>
				<div class=" justify-center pt-6 flex my-auto ">
					<img src="/cih/img/logo.svg" class=" md:w-32 w-28 flex my-auto">
					<img src="/cih/img/Habitat.svg" class=" md:w-40 w-36 flex my-auto">
				</div>
				<div class=" md:w-3/4 w-full  text-center pt-10" style="font-family: Poppins, Arial, Helvetica, sans-serif;">
					<div class=" w-full md:gap-3 gap-5 grid md:grid-cols-4 grid-cols-2 ">
						
						<div class=" w-full border border-dotted py-6 cursor-pointer rounded-md  ">
							<h1 class=" text-blue-900 text-3xl md:text-4xl font-bold">50</h1>
							<h1 class=" text-sm  pt-4">Startups</h1>
						</div>
						
						<div class=" w-full border border-dotted py-6 cursor-pointer rounded-md  ">
							<h1 class=" text-blue-900 text-3xl md:text-4xl font-bold">500</h1>
							<h1 class=" text-sm pt-4 ">Student Entrepreneurs</h1>
						</div>

						<div class=" w-full border border-dotted py-6 cursor-pointer rounded-md  ">
							<h1 class=" text-blue-900 text-3xl md:text-4xl font-bold">1000</h1>
							<h1 class=" text-sm pt-4 ">MSME Market Players</h1>
						</div>

						<div class=" w-full border border-dotted py-6 cursor-pointer rounded-md  ">
							<h1 class=" text-blue-900 text-3xl md:text-4xl font-bold">10</h1>
							<h1 class=" text-sm pt-4">Hackathons</h1>
						</div>

					</div>
				</div>
				<div class=" mt-10 px-10" >
					<a href="https://forms.zohopublic.com/keralastartupmission/form/ConstructionInnovationHub/formperma/8Fk9GeVnaCuv78xHePjjzhVD_59yFvxIylusBUFjjyE" target="_blank" class=" bg-blue-900 text-white px-6 py-4 text-lg font-semibold cursor-pointer" style="font-family: Poppins, Arial, Helvetica, sans-serif;" >Apply for CIH</a>
				</div>
			</div>
		</div>
	</div>
  </main>
  
  <section class="py-20 px-8"  >
    <div class=" grid md:grid-cols-2 grid-cols-1 gap-8" >
      <div class="container mx-auto" >
  
        
        <div class="text-3xl font-bold mb-5 font-poppins">About</div>
    
        <div class="text-justify mb-3 font-poppins">
			The Construction Innovation Hub (CIH) aims to promote Innovation and Sustainability in Construction in India by fostering collaboration, innovation, and knowledge sharing among stakeholders in the construction industry. CIH will be focused on exploring solutions
			that address some of the biggest challenges facing the construction industry today which includes labour shortages, building materials, environmental impact, project delays, adoption of technology and inefficiencies in the construction process. CIH will provide a platform for relevant stakeholders in the construction value chain comprising of tech / product startups, architects, engineers, designers, contractors, masons, carpenters, designers, policymakers, academics, and civil society organizations to come together and share their experiences, best practices, and solutions for sustainable construction. CIH is committed to sustainability and aims to reduce
			the environmental impact of construction projects using sustainable materials, eco-friendly building techniques, and smart buildings. The Hub will also promote the development of markets for affordable construction solutions. This will involve working with developers, contractors, and government agencies to identify opportunities for affordable housing and infrastructure projects.
					</div>
    
        
      </div>
      <div class=" container w-full">
       <img src="img/bgs.svg" class=" h-full  w-full">
      
      </div>
    </div>

  </section>




  <section class=" py-16 font-poppins  text-white bg-blue-900  ">
	<div class=" mx-auto flex flex-col  ">
		
			<div class="text-3xl container flex px-8 font-bold mb-5 font-poppins">Key Activities</div>

			
		<div class=" flex lg:flex-row flex-col py-5">
				<div class="  w-full md:w-1/4 md:flex hidden relative">
					<img src="/cih/img/bb.svg" class=" flex absolute bottom-0 ">
				</div>
			<div class=" lg:w-3/4 w-full font-data">

				<div class=" grid lg:grid-cols-2 grid-cols-1 gap-4  px-12">
					
					<div class=" space-y-4 items-start">
						<h1 class=" md:text-xl text-lg text-white  items-center font-bold flex"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						  </svg>
						  Support Startups</h1>
						<p class=" text-sm" >Identification, selection, and support startups across India with solutions in the construction / housing and with a special focus on affordable housing.
						</p>
					</div>

					<div class=" space-y-4 items-start">
						<h1 class=" md:text-xl text-lg text-white  items-center font-bold flex"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						  </svg>
							Nurturing Early-Stage Entrepreneurs</h1>
						<p class=" text-sm" >
							Coordinating with Universities and colleges in Kerala to identify early-stage innovators in shelter tech and to extend CIH support to them through knowledge sharing, expert mentoring, domain specific workshops and bootcamps.
						</p>
					</div>

					<div class=" space-y-4 items-start">
						<h1 class=" md:text-xl text-lg text-white  items-center font-bold flex"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						  </svg>
							MSME support in the construction value chain</h1>
						<p class=" text-sm" >
							The Hub will organize training programs, workshops, and seminars to build the capacity of MSME’s in construction practices, including sustainable construction practices.

						</p>
					</div>

					<div class=" space-y-4 items-start">
						<h1 class=" md:text-xl text-lg text-white  items-center font-bold flex"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						  </svg>
							Industry Outreach</h1>
						<p class=" text-sm" >
							The Hub will facilitate networking and collaboration among stakeholders in the construction industry, investor and corporate connect events, business incubation, and mentorship programs.

						</p>
					</div>

					<div class=" space-y-4 items-start">
						<h1 class=" md:text-xl text-lg text-white  items-center font-bold flex"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						  </svg>
							Innovation and research</h1>
						<p class=" text-sm" >
							The Hub will support research and development of innovative technologies and materials for sustainable construction, including low-carbon building materials, smart buildings, and renewable energy systems.
						</p>
					</div>

					<div class=" space-y-4 items-start">
						<h1 class=" md:text-xl text-lg text-white  items-center font-bold flex"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						  </svg>
							Policy advocacy</h1>
						<p class=" text-sm" >
							The Hub will work with policymakers to advocate for sustainable construction policies and regulations that promote resource efficiency, environmental protection, and social responsibility.

						</p>
					</div>
		
					<div class=" space-y-4 items-start">
						<h1 class=" md:text-xl text-lg text-white  items-center font-bold flex"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						  </svg>
							Access to funding</h1>
						<p class=" text-sm" >
							Paid PoC pilots to early-stage startups and access to funding at various stages through the The Terwilliger Centre and KSUM network.

						</p>
					</div>

				</div>
			</div>
		</div>
		
	</div>
	
</section>



  
  <section class="py-24 px-5 relative font-poppins" >
    <div class="container mx-auto">
      <div class="mb-8 text-center  text-4xl font-black  font-poppins">
        Benefits
      </div>
     <div>
		<div class=" grid md:grid-cols-3 grid-cols-1 gap-5">
				<div >
					<div class=" h-56 bg-cover flex my-auto bg-no-repeat" style="background-image:url('/cih/img/bn1.svg')">
						<div class=" md:text-3xl text-xl font-bold text-center my-auto mx-auto items-center justify-center flex text-white">Mentoring</div>
					</div>
				</div>

				<div >
					<div class=" h-56 bg-cover flex my-auto bg-no-repeat" style="background-image:url('/cih/img/bn2.svg')">
						<div class=" md:text-3xl text-xl font-bold text-center my-auto mx-auto items-center justify-center flex text-white">

						Grants worth USD 150K
					</div>

					</div>
				</div>

				<div >
					<div class=" h-56 bg-cover flex my-auto bg-no-repeat" style="background-image:url('/cih/img/bn3.svg')">
						<div class=" md:text-3xl text-xl font-bold text-center my-auto mx-auto items-center justify-center flex text-white">

							Support through KSUM schemes

					</div>

					</div>
				</div>
		</div>
	 </div>
    </div>
  </section>
  


<section class=" container mx-auto pb-24">
	<div class="mb-8 text-center  text-4xl font-black  font-poppins">
		Focus Sectors
      </div>
	<div class=" container mx-auto  h-60 grid md:grid-cols-3 grid-cols-2 font-poppins ">
		<div class=" border-r mb-10 border-b text-center justify-center items-center my-auto flex flex-col h-full">
			<img src="/cih/img/construction.svg" class=" w-16">
			<h1 class=" text-xl pt-5">Construction</h1>
		</div>

		<div class=" border-r mb-10 border-b text-center justify-center items-center my-auto flex flex-col h-full">
			<img src="/cih/img/building.svg" class=" w-16">
			<h1 class=" text-xl pt-5">Housing</h1>
		</div>

		<div class=" border-r mb-10 border-b text-center justify-center items-center my-auto flex flex-col h-full">
			<img src="/cih/img/property-price.svg" class=" w-16">
			<h1 class=" text-xl pt-5">Real Estate</h1>
		</div>

		<div class=" border-r pt-10  text-center justify-center items-center my-auto flex flex-col h-full">
			<img src="/cih/img/green-city.svg" class=" w-16">
			<h1 class=" text-xl pt-5">Green Building Materials</h1>
		</div>

		<div class=" border-r pt-10 text-center justify-center items-center my-auto flex flex-col h-full">
			<img src="/cih/img/climate-monitor.svg" class=" w-20">
			<h1 class=" text-xl pt-5">Climate Tech</h1>
		</div>

		<div class=" border-r pt-10 text-center justify-center items-center my-auto flex flex-col h-full">
			<img src="/cih/img/garbage.svg" class=" w-16">
			<h1 class=" text-xl pt-5">Waste to Value</h1>
		</div>
	</div>
</section>

<section class=" mx-auto text-center justify-center pt-24">
	<div class=" mt-10 px-10" >
		<a href="https://forms.zohopublic.com/keralastartupmission/form/ConstructionInnovationHub/formperma/8Fk9GeVnaCuv78xHePjjzhVD_59yFvxIylusBUFjjyE" target="_blank" class=" bg-blue-900 text-white px-6 py-4 text-lg font-semibold cursor-pointer" style="font-family: Poppins, Arial, Helvetica, sans-serif;" >Apply for CIH</a>
	</div>
</section>
  
  <section class="py-24  relative">

    <div class="container">
      <div class="mb-8 px-8  text-4xl font-black  font-poppins">
		Timeline
      </div>
    
      <div class="flex py-10 ">
        <div class=" flex  mx-auto">
          <ol class="relative  border-l-4 border-blue-900 leading-loose ">
  
            <TimelineItem date="15th December 2023" title="Application Start Date" ></TimelineItem>
            <TimelineItem date="15th January 2024" title="Application Deadline" ></TimelineItem>
            <TimelineItem date="20th January 2024" title="Screening phase 1" ></TimelineItem>
            <TimelineItem date="31st January 2024" title="Screening phase 2" ></TimelineItem>
            <TimelineItem date="5th February 2024" title="Program Launch" ></TimelineItem>
          </ol>
        </div>
      </div>
    </div>
  </section>


  <section class=" pb-24 mx-auto items-center justify-center text-center flex flex-col">
	<div class="mb-8 px-8  text-4xl font-black  font-poppins">
		Partners
    </div>
	<div class=" flex sm:flex-row flex-col gap-3">
		<div class="w-1/3 md:w-44 mx-auto">
			<div class="p-3 rounded-md bg-white shadow-md ">
			  <div class="overflow-hidden ">
				<img src="/cih/img/p1.png" alt="Partner logo">
			  </div>
			</div>
		</div>
		<div class="w-1/3 md:w-44 mx-auto">
			<div class="p-3 rounded-md bg-white shadow-md ">
			  <div class="overflow-hidden ">
				<img src="/cih/img/p2.png" alt="Partner logo">
			  </div>
			</div>
		</div><div class="w-1/3 md:w-44 mx-auto">
			<div class="p-3 rounded-md bg-white shadow-md ">
			  <div class="overflow-hidden ">
				<img src="/cih/img/p3.png" alt="Partner logo">
			  </div>
			</div>
		</div>
	</div>
  </section>
  
  <section id="contact" class="">
	<div class="bg-blue-900 py-10 font-poppins">
		<div class="container mx-auto">
			<div
				class="flex flex-col md:flex-row items-center justify-center"
			>
				<div
					class="md:w-1/2 w-full items-center justify-center text-center mx-auto"
				>
					<img
						src="/cih/img/logo-white.svg"
						class="h-28 mb-3 mx-auto text-center"
						alt="Logo"
					/>

					<div class="mb-10 text-center text-white ">
						<div class="font-bold text-sm ">
							G3B, Thejaswini, Technopark Campus,
							Kariyavattom,
						</div>
						<div class="mb-3">Trivandrum, Kerala 695581</div>
					</div>
				</div>
				<div class="md:w-1/2 w-full text-white ">
					<div
						class="p-10 text-center flex flex-col items-center justify-center"
					>
						<div class="">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
  
 
</Layout>


<style is:global>
	/* CSS for gallery and thumbnail images */
  .gallery {
	display: flex;
	flex-wrap: wrap;
  }
  
  
  /* CSS for the popup overlay */
  .video-popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9999;
  }
  
  .video-popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
  }
  
  </style>
  <!-- youtube video -->

  <style is:global>
    /* CSS for gallery and thumbnail images */
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* CSS for the popup overlay */
  .video-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .video-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  </style>
 
